.quantity-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.quantity-display{
    font-size: medium;
    padding: 0 8px;
}

svg {
    fill: white !important;
}

.cart-svg ::ng-deep svg {
    height: 25px;
    width: auto;
}