.user-container{
    --bs-nav-link-color: #FFFFFF;
    background-color: #E78D0D ;
    color:#FFFFFF !important;
    border-radius: 5px;
}

.navbar{
    padding: 18px 20px 10px 30px;
    background-color: #9D0101 !important;
}

.navbar-nav{
    flex-direction: row;
    align-items: center;
}

.badge-size{
    font-size: 0.75rem;
    padding: 0.2em 0.4em; 
    min-width: auto;
}

div.container-fluid{
    display: flex;
    align-items:center;
}

.cart-count{
    background-color: #E78D0D;
}

.svg-cart ::ng-deep svg{
    height: 28px;
    width: auto;
}
.dropdown-menu{
    z-index: 1001;
}
navbar-nav .nav-link.show {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    margin-top: 0.125rem;
    z-index: 1001;
}
a#navbarDropdown.dropdown-toggle.nav-link{
    padding: 8px 5px;
}


@media (max-width: 991.98px) {
    .user-container {
      position: static;
    }
    .navbar-toggler {
        padding: 5px !important; /* Forza il padding a 5px */
    }
    .navbar{
        padding: 18px 10px 10px 12px;
        background-color: #9D0101 !important;
    }
}
  