<div class="card">
    <img [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="price">{{product.price | currency:'USD':'$'}}</p>
        
        <div class="actions">
            <button 
                *ngIf="getQuantity() === 0; else updateQuantity"
                class="btn btn-primary" 
                (click)="addToCart()">Add to Cart
            </button>
            <ng-template #updateQuantity>
                <div class="quantity-container">
                    <product-quantity 
                        [shopping-cart]="shoppingCart" 
                        [product]="product">
                    </product-quantity>
                </div>
            </ng-template>
        </div>
    </div>
</div>